*venv
*FEA_Model_Examples
*bin
*obj
*.vs
femap_library/femap_library/My Project/Application.Designer.vb
femap_library/femap_library/My Project/Application.myapp
femap_library/femap_library/My Project/AssemblyInfo.vb
femap_library/femap_library/My Project/Resources.Designer.vb
femap_library/femap_library/My Project/Resources.resx
femap_library/femap_library/My Project/Settings.Designer.vb
femap_library/femap_library/My Project/Settings.settings
